APP_BASE_URL=https://admin.safiradestan.com
META_APP_ID=
META_APP_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CONFIG_ID=
SOCIAL_AUTO_PUBLISH_ENABLED=true
SOCIAL_AUTO_PUBLISH_TIME=12:00
SOCIAL_AUTO_PUBLISH_LIMIT=2
